name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest


    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_LOGIN }}
          password: ${{ secrets.DOCKER_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Get current date
        id: date
        run: echo "date=$(date -u +'%Y-%m-%d--%H-%M-%S')" >> $GITHUB_OUTPUT
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_LOGIN }}/docker-ci-cd-publish:latest
            ${{ secrets.DOCKER_LOGIN }}/docker-ci-cd-publish:js
            ${{ secrets.DOCKER_LOGIN }}/docker-ci-cd-publish:js--${{ steps.date.outputs.date }}

  build-big:

    runs-on: ubuntu-latest

    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_LOGIN }}
          password: ${{ secrets.DOCKER_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Get current date
        id: date
        run: echo "date=$(date -u +'%Y-%m-%d--%H-%M-%S')" >> $GITHUB_OUTPUT
      -
        name: Build and push big
        uses: docker/build-push-action@v3
        with:
          context: ./big
          file: ./big/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_LOGIN }}/docker-ci-cd-publish:big
            ${{ secrets.DOCKER_LOGIN }}/docker-ci-cd-publish:big--${{ steps.date.outputs.date }}
